<div>
  <section>
    <div class="background">
      <div class="aneis2"></div>
      <div class="box">
        <div class="sair">
          <a href="/">Home</a>
        </div>
        <form action="" [formGroup]="form" (ngSubmit)="testarRecuperacao()">
        <div>
          <h1 class="esqueceusenha">Esqueceu sua senha?</h1>
        </div>
        <div>
          <p class="digiteemail">
            Digite seu email abaixo!
          </p>
        </div>
        <div>
          @if (formularioError) {
            <p class="emailerror">Email não encontrado!</p>
          }
          @else if (formularioSucess) {
            <p class="emailSucess">Email Encontrado com sucesso!</p>
          }
          @if (checandoEmail) {
            <p class="checandoemail">Checando Email Aguarde alguns Segundos!</p>
          }
        </div>
        <div>
          <input
            [formControlName]="'email'"
            class="enderecoinput"
            type="email"
            placeholder="Endereço de Email"
          />
        </div>
        <div>
          <input (click)="checarEmail()" class="botaosubmit" type="submit" value="Enviar Email" />
        </div>
      </form>
      </div>
    </div>
  </section>
</div>
