<div class="main-container">
<section id="hero">
  <div>
    <div class="boxcolor">
        <div class="containerh1" >
            <div class="aneis"></div>
            <div class="aneis2"></div>
            <div>
                <h1 class="titulo">ClubService</h1>
                <p class="paragrafo1">A solução que você precisa, com o atendimento que você merece.</p>
                <button class="buttonreadme">Saiba Mais</button>
            </div>
        </div>
    </div>
  </div>
</section>

<section  id="landing-page" >
    <form [formGroup]="formGroup" (ngSubmit)="testarLogin()" >
    <h2>Olá, Novamente!</h2>
    @if (!deuErro) {
        <p class="bemvindo">Bem-Vindo de Volta</p>
    }
    @else {
        <p class="error"> Ocorreu um erro ao tentar fazer login. Por favor, verifique seus dados.</p>
    }
    <div class="email">
        <input [formControlName]="'email'" type="email" placeholder="Endereço de Email">
    </div>
    <div class="password">
        <input [formControlName]="'senha'" type="password"  placeholder="Sua Senha">
    </div>
    <div  class="botao">
        <button class="buttonlogin">
            Login
        </button>
    </div>
    <div class="cadastrar">
        <a href="/cadastrar">Cadastrar-se</a>
    </div>
    <div class="esqueceusenha">
        <a href="/recuperarsenha">Esqueci minha senha</a>
    </div>
    </form>
  </section>
</div>
