<div>
  <section>
    <div class="background">
      <div class="aneis2"></div>
      <div class="box">
        <form
          action=""
          [formGroup]="form"
          (ngSubmit)="testarConfirmacaoSenha()"
        >
          <div>
            <h1 class="esqueceusenha">Nova senha</h1>
          </div>
          <div>
            <p class="digiteemail">Digite sua nova senha abaixo! </p>
          </div>
          @if (deuErro) {
            <p class="deuerro">Campo invalido ou não condizem</p>
          }
          @if (deuCerto) {
            <p class="deucerto">Senha trocada com sucesso!</p>
          }
          @if (campoVazio) {
            <p>Campo vazio ou faltando caracter</p>
          }
          
          <div>
            <input
              [formControlName]="'senha'"
              class="enderecoinput"
              type="password"
              placeholder="Nova senha minimo 5"
            />
          </div>
          <div>
            <input
              [formControlName]="'confirmSenha'"
              class="confirmarnovasenhainput"
              type="password"
              placeholder="Confirmar nova senha"
            />
          </div>
          <div>
            <input class="botaosubmit" [disabled]="desabilitar" type="submit" value="Confirmar senha"/>
          </div>
        </form>
      </div>
    </div>
  </section>
</div>
