.background {
    background-image: url(./assets/Bg.png); /* Imagem de fundo */
    width: 100%;
    background-attachment: fixed;
    background-size: cover; /* Cobre toda a área */
    background-position: center;
    overflow: hidden;
  }

.caixa {
    border: 1px solid #ddd; 
}

/* Estilo para as células de dados */
th, td {
    background-color: white;
    padding: 10px 20px; 
    font-family: 'Inter', sans-serif;
    color: black; /* Cor de fundo para as células de dados */
}   

td {
    border: 1px solid #ddd; 

}
.descricao {
    word-wrap: break-word; /* Faz a quebra de linha dentro da célula */
    word-break: break-word; 
    white-space: normal;
}

.container {
    display: flex;
    flex-direction: column; /* Alinha o conteúdo verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    width: 100%;
    font-size: 20px;
    min-height: 100vh; /* Cobrir a altura total da tela */
    overflow: hidden;
  }
.titulo-container {
    text-align: center;
    margin-bottom: 20px; 
    
  }

.titulo {
    font-size: 2em;
    color: white; /* Cor do título */
    font-family: 'Poppins', sans-serif;
    
  }

.itens {
    border: 1px solid black;
}

.botaoservico {
    text-decoration: none;
    border: none;
    background-color:#5665FF;
    padding: 10px 10px;
    font-family: 'Inter', sans-serif;
    border-radius: 10px;
    font-weight: 600;
    color: black;
}

.cancelar {
    border: 1px solid #ddd; 
    background-color: white;
    padding: 10px 20px; 
    font-family: 'Inter', sans-serif;
    color: black; /* Cor de fundo para as células de dados */
    transition: all 0.3s ease;
    word-wrap: break-word; /* Faz a quebra de linha dentro da célula */
    word-break: break-word; 
    white-space: normal;
}   
.cancelar:hover {
    color: white;
    background-color: RED;
}

.home {
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    border: none;
    color: black;
    background-color: #5665FF;
    padding: 5px 55px;
    border-radius: 10px;
    transition: all 0.3s ease;
    
}

.home:hover {
background-color: black;
color: white;
}


@media (min-width: 375px) and (max-width: 414px) {
    .tabela {
        width: 100%;
        max-height: 500px;
        overflow-y: auto;
       
    }
    td, th {
        
        font-size: 5px;

    }
    .descricao {
        font-size: 7px;
    }
    .cancelar {
        padding: 0;
        font-size: 20px;
    }
  }@media (max-width: 375px)  {
    .tabela {
        width: 100%;
        max-width: 100%; /* Garante que a tabela não ultrapasse o tamanho do container */
        overflow-x: auto; /* Permite rolagem horizontal, se necessário */
    }
    td, th {
        padding: 5px 10px; /* Reduz os espaçamentos internos */
        font-size: 5px; /* Tamanho da fonte para telas pequenas */
        white-space: nowrap; /* Impede quebras de linha */
        overflow: hidden; /* Esconde o texto excedente */
        text-overflow: ellipsis; /* Adiciona reticências ao texto cortado */
    }
    .descricao {
        font-size: 5px;
    }
    .cancelar {
        padding: 5px 10px; /* Ajusta o botão de cancelar */
        font-size: 10px;
    }

}
@media (max-width: 412px) {
    .tabela {
        width: 100%;
        max-width: 100%; /* Garante que a tabela não ultrapasse o tamanho do container */
        overflow-x: auto;
         /* Permite rolagem horizontal, se necessário */
    }
    td, th {
        padding: 5px 10px; /* Reduz os espaçamentos internos */
        font-size: 7px; /* Tamanho da fonte para telas pequenas */
        white-space: nowrap; /* Impede quebras de linha */
        overflow: hidden; /* Esconde o texto excedente */
        text-overflow: ellipsis; /* Adiciona reticências ao texto cortado */
    }
    .descricao {
        font-size: 7px;
    }
    .cancelar {
        padding: 5px 10px; /* Ajusta o botão de cancelar */
        font-size: 8px;
    }
   .container {
    justify-content: flex-start; /* Centraliza horizontalmente */
    align-items: flex-start; /* Centraliza verticalmente */
   }
   
    
}

@media(min-width: 360px) and (max-width: 375px) {

    td, th {
        padding: 5px 5px; /* Reduz os espaçamentos internos */
        font-size: 7px; /* Tamanho da fonte para telas pequenas */
        white-space: nowrap; /* Impede quebras de linha */
        overflow: hidden; /* Esconde o texto excedente */
        text-overflow: ellipsis; /* Adiciona reticências ao texto cortado */
    }
    .descricao {
        font-size: 7px;
    }
    .cancelar {
        padding: 5px 10px; /* Ajusta o botão de cancelar */
        font-size: 5px;
    }
} 
