<div class="background">
<div class="container">
  <a href="/home" class="home">Voltar para Atendimentos</a>
  <form [formGroup]="form" (ngSubmit)="testarAgendamento()">
    <h1 class="titulo">Agendar Atendimento</h1>
    @if (erro) {
      <p class="paragrafo1">Campos Invalidos!</p>
    }
    @if (nopassado) {
      <p class="paragrafo2">Data tem que estar no futuro!</p>
    }
    @if (sucesso) {
      <p class="paragrafo3">Agendamento realizado com sucesso!</p>
    }
    <!-- Tabela de agendamento -->
    <table class="tabela">
      <thead>
        <tr>
          <th>Profissional</th>
          <th>Data do Atendimento</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <select [formControlName]="'selecao'" name="profissional" required>
              @for (item of profissionais; track $index)   {
              <option  [value]="item.id">{{ item.nome  }} | {{item.especialidade}}</option>
            }
            </select>
          </td>
          <td>
            <input [formControlName]="'data'" class="data" type="datetime-local"  name="dataAtendimento" required />
          </td>
        </tr>
        
      </tbody>
      
    </table>
    <div>
        <textarea [formControlName]="'descricao'" class="descricao"  name="descricao" placeholder="Descreva o atendimento..." required></textarea>
        </div>
        <div>
        <button class="botao">Agendar</button>
        </div>
        </form>
  </div>
</div>