.background {
    background-image: url("./assets/Bg.png"); /* Imagem de fundo */
    width: 100%;
    min-height: 100vh; /* Cobrir a altura total da tela */
    background-attachment: fixed;
    background-size: cover; /* Cobre toda a área */
    background-position: center; /* Centraliza a imagem */
    display: flex; /* Flexbox para centralizar */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    overflow: hidden;
  }
  
  .aneis2 {
    background-image: url(./assets/estrela.png);
    position: absolute;
    height: 100%;
    width: 100%;
    transform: rotate(0deg) translateX(-20px);
    z-index: 1;
  }
  
  .box {
    width: 600px;
    height: 450px; /* Define uma largura fixa */
    padding: 20px; /* Define o espaçamento interno */
    background-color: white; /* Fundo branco */
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para profundidade */
    text-align: center; /* Centraliza texto dentro da caixa */
    font-family: "Poppins", sans-serif; /* Fonte padrão */
    display: flex; /* Usar flexbox interno para alinhar os filhos */
    flex-direction: column; /* Empilha os filhos verticalmente */
    gap: 15px; /* Espaço entre os elementos */
    z-index: 1;
  }
  
  .esqueceusenha {
      margin-top: 40px;
      margin: 0;
  }
  
  .digiteemail {
      margin: 0;
  }
  
  .enderecoinput {
      background-color: #8098f9;
      border-color: #8098f9;
      opacity: 100%;
      padding: 10px 30px;
      border-radius: 10px;
      margin-top: 40px;
      background-image: url(./assets/token.svg);
      background-repeat: no-repeat;
      background-position: 10px 16px;
  }
  
  .botaosubmit {
      text-decoration: none;
    border: none;
    font-family: "Poppins", sans-serif;
    background-color: #0575e6;
    padding: 15px 150px;
    border-radius: 15px;
    color: white;
    transition: all 0.3s ease;
    margin-top: 40px;
  }
  
  .botaosubmit:hover {
      background-color: black; /* Muda a cor de fundo para preto */
      color: white; /* Mantém o texto branco */
      transform: scale(1.1);
  }
  
  .sair {
      margin-top: 20px;
      
  }
  
  .sair a {
      text-decoration: none;
      color: white;
      border-radius: 10px;
      background-color: #0575e6;
      padding: 5px 20px;
      font-family: "Poppins", sans-serif;
      transition: all 0.3s ease;
  }
    
    .sair a:hover {
      background-color: black; /* Muda a cor de fundo para preto */
      color: white;
  }
  
  .emailerror {
    color: red;
    margin-top: 10px;
    font-family: "Poppins", sans-serif;
  }
  
  .emailSucess {
    color: green;
    margin-top: 10px;
    font-family: "Poppins", sans-serif;
  }
  
  .checandoemail {
    color: blue;
    margin-top: 10px;
    font-family: "Poppins", sans-serif;
  }

  .digiteemail {
    margin-top: 15px;
  }

  .deuerro {
    margin-top: 20px;
    color: red;
  }

  .vazio {
    margin-top: 20px;
    color: red;
  }

  @media (max-width: 480px) {
    .box {
      width: 350px;
      height: 400px;
    }
    .botaosubmit {
      padding: 15px 90px;
    }
  
  }
  
  @media (max-width: 375px) {
    .box {
      width: 350px;
      height: 450px;
    }
    .botaosubmit {
      padding: 15px 91px;
    }
  
  }