body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.cabecalho {
  display: flex;
  align-items: center; /* Centraliza o conteúdo verticalmente */
  justify-content: space-between; /* Distribui os itens */
  padding: 0 20px;
  font-family: 'Inter', sans-serif;
}

.cabecalhoh1 {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 1.5rem; /* Tamanho responsivo */
  margin: 20px;
  margin-left: 50px;
}

.usuarioheader {
  margin: 20px;
  margin-left: 1000px;
  text-align: end;
  font-weight: 600;
  background-color: #5665FF;
  padding: 10px 35px;
  border-radius: 20px;
  flex-shrink: 0;
  
}



.deslogar {
  text-decoration: none;
  border: none;
  font-weight: 600;
  margin-right: 10px;
  background-color: white;
}

.titulo {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 64px;
  margin-left: 50px;
  margin: 0;
}

.paragrafo1 {
  margin-left: 50px;
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
}

.conteiner {
  display: flex;
  justify-content: space-between; /* Garante que o conteúdo ocupe o máximo de espaço possível */
  align-items: flex-start; /* Alinha ao topo */
  padding: 20px; /* Adiciona espaçamento ao redor */
  position: relative; /* Adicionando position: relative */
}

.medico {
  background-image: url(./assets/medico.png);
  height: 645px;
  width: 845px;
  margin-left: 400px;
  background-size: contain; /* Ajusta a imagem para cobrir o contêiner */
  background-repeat: no-repeat; 
  position: absolute;
  z-index: 3;
  margin-top: 50px;
}
.pedreiro {
  background-image: url(./assets/pedreiro.png);
  height: 354px;
  width: 503px;
  margin-top: 259px;
  margin-left: 830px;
  background-size: cover; /* Ajusta a imagem para cobrir o contêiner */
  background-repeat: no-repeat; 
  position: absolute;
  z-index: 2;
}
.pintor {
  background-image: url(./assets/pintor.png);
  height: 454px;
  width: 503px;
  margin-top: 20px;
  margin-left: 770px;
  background-size: cover; /* Ajusta a imagem para cobrir o contêiner */
  background-repeat: no-repeat; 
  position: absolute;
  z-index: 1;
}


.butaoatendimentos {
  text-decoration: none;
  border: none;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  color: black;
  background-color: #5665FF;
  padding: 15px 80px;
  position: absolute;
  margin-top: 35px;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
  
}

.butaoprofissional {
  text-decoration: none;
  border: none;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  color: black;
  background-color: #5665FF;
  padding: 15px 70px;
  position: absolute;
  margin-top: 170px;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
  
}

.butaoprofissional:hover {

  color: white;
  background-color: black;
}

.butaoagendar {
  text-decoration: none;
  border: none;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  color: black;
  background-color: #5665FF;
  padding: 15px 80px;
  position: absolute;
  margin-top: 100px;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.butaoagendar:hover {
  color: white;
  background-color: black;
}


.butaoatendimentos:hover {

  color: white;
  background-color: black;
}

.bloco {
  background-color: #5665FF;
  border-radius: 10px;
  height: 100px;
  width: 503px;
  margin-top: 602px;
  margin-left: 710px;
  background-size: cover; /* Ajusta a imagem para cobrir o contêiner */
  background-repeat: no-repeat; 
  position: absolute;
  z-index: 5;
}





@media (min-width: 360px) and (max-width: 768px) {
  .titulo {
    font-size: 35px;
    margin-top: 40px;
    margin-left: 5px;
  }
  .cabecalhoh1 {
    font-size: 40px;
  }
  .usuarioheader {
    position: absolute;
    margin-left: 150px;
    
  }
  .deslogar {
    margin-top: 25px;
    margin-left: 30px;
  }
  
  .medico, .pedreiro, .pintor, .bloco {
    display: none; 
  }
  .cabecalho {
    flex-direction: column; 
    align-items: flex-start; 
  }

  .butaoagendar {
    font-size: 18px;
  }
  .butaoatendimentos {
    font-size: 17px;
  }
  .butaoprofissional {
    font-size: 17px;
  }
  .paragrafo1 {
    margin-left: 5px;
  }
  
  
}
@media (min-width: 768px) and (max-width: 820px) {
  .titulo {
    font-size: 35px;
    margin-top: 40px;
    margin-left: 5px;
  }
  .cabecalhoh1 {
    font-size: 40px;
  }
  .usuarioheader {
    position: absolute;
    margin-left: 150px;
    
  }
  .deslogar {
    margin-top: 25px;
    margin-left: 30px;
  }
  
  .medico, .pedreiro, .pintor, .bloco {
    display: none; 
  }
  .cabecalho {
    flex-direction: column; 
    align-items: flex-start; 
  }

  .butaoagendar {
    font-size: 18px;
  }
  .butaoatendimentos {
    font-size: 17px;
  }
  .butaoprofissional {
    font-size: 17px;
  }
  .paragrafo1 {
    margin-left: 5px;
    font-size: 17px;
  }
  
}


